<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SinemaBiletOtomasyon.Properties.Settings.sinema_biletiConnectionString"
            connectionString="Data Source=DESKTOP-KF846PE\SQLEXPRESS;Initial Catalog=sinema_bileti;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>